@media (max-width: 1150px) {
    .container {
        max-width: 950px;
    }
    .header__menu_wrapper {
        overflow: scroll;
    }
    .container__second {
        max-width: 100%;
    }
    .promo {
        padding-bottom: 30px;
    }
    .header__second_item_form_search {
        width: 550px;
    }
    .header__inner_item_links_second {
        display: flex;
    }
    .promo__item_image {
        left: -2%;
    }
    .header__menu_item {
        margin: 0 15px;
    }
    .header__inner {
        display: none;
    }
    .header__second_item_form_search {
        width: 200px;
    }
    .header__inner_item_links_link {
        a {
            color: #000;
        }
    }
    .header__second_burger {
        position: relative;
        width: 50px;
        height: 20px;
        z-index: 100;
        left: 0;
        top: 3%;
        display: block;
        // &_active {
        //     span {
        //         display: none;
        //     }
        //     &::before {
        //         transform: rotate(-45deg);
        //         bottom: 9%;
        //     }
        //     &::after {
        //         transform: rotate(45deg);
        //         top: 9%;
        //     }
        // }
        span {
            position: absolute;
            top: 9px;
            width: 100%;
            height: 4px;
            background: #000;
            transition: all .3s;
            left: 0;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            top: 0;
            transition: all .3s;
            background: #000;
            content: '';
        }
        &::after {
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -16%;
            left: 0;
            transition: all .3s;
            background: #000;
            content: '';
        }
    }
    .header__second_item_bg {
        display: flex;
    }
    .header__second_item {
        &_logo {
            margin-left: 15px;
        }
    }
    .header__burger_list {
        position: fixed;
        width: 227px;
        height: 100%;
        left: -100%;
        top: 0;
        background: #fff;
        z-index: 300;
        padding-top: 21px;
        transition: all .2s;
        display: block;
        &_active {
            left: 0;
            transition: all .2s;
        }
        &_titles {
            display: flex;
            justify-content: space-between;
        }
        &_burger {
            padding-right: 15px;
        }
        &_title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            color: #414141;
            margin-bottom: 22px;
            padding-left: 28px;
        }
        &_menu {
            &_type {
                padding: 14px 0;
                padding-left: 28px;
                &:hover {
                    background: linear-gradient(90deg, #F1F1F1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);
                }
                a {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    color: #414141;
                    text-decoration: none;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .header__burger_list_title_second {
        margin-top: 35px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .promo__item_image {
        img {
            max-width: 100%;
        }
    }
    .promo__item_image_text {
        top: 40px;
        left: 60px;
    }
    .header__menu_item {
        margin: 0 30px;
    }
    .hits__item_second:hover .hits__item_block_size {
        z-index: 5000;
    }
    .hits__wrapper {
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    .hits__item {
        width: 33%;
    }
    .hits {
        min-height: 500px;
    }
    .header__menu {
        display: none;
    }
    .header__inner_item_links {
        display: none;
    }
    .header__second_item_form_search {
        width: 300px;
    }
    .promo__arrow_left {
        left: 0.8%;
        img {
            width: 15px;
        }
    }
    .promo__arrow_right {
        right: 4%;
        img {
            width: 15px;
        }
    }
    .header__second_item_logo {
        margin-left: 25px;
    }
    .header {
        position: fixed;
        width: 100%;
        height: 90px;
        left: 0;
        top: 0;
        z-index: 100;
        transition: all .3s;
        &__active {
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
            transition: all .3s;
        }
    }
    .promo {
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 520px;
    }
    .header__second_item_form_search {
        display: none;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__wrapper_second {
        flex-wrap: wrap;
        justify-content: center;
    }
    .promo__arrow_left {
        left: 0.8%;
        padding: 5px;
        img {
            width: 10px;
        }
    }
    .promo__arrow_right {
        right: 4%;
        padding: 5px;
        img {
            width: 10px;
        }
    }
    .hits__wrapper {
        flex-wrap: nowrap;
        overflow: scroll;
        padding-bottom: 70px;
    }
    .hits__item {
        width: 100%;
    }
    .hits__item_block_text_name {
        margin-top: 3px;
    }
    .hits__item_second .hits__item_block_size {
        opacity: 1;
    }
    .footer__item_logo {
        text-align: center;
        margin-top: 30px;
    }
    .footer__info_links {
        margin-top: 20px;
    }
    .promo__item_image_text_title {
        font-size: 25px;
    }
}

@media (max-width: 571px) {
    .container {
        max-width: 420px;
    }
    .hits {
        padding-bottom: 0;
    }
    .header__second_item_icons_icon {
        margin: 0 4px;
    }
    .footer__info_links {
        flex-wrap: wrap;
        justify-content: space-around;
        &_link {
            &:nth-child(3) {
                margin-top: 20px;
            }
        }
    }
    .promo__item_image_text {
        left: 47px;
        top: 30px;
    }
    .promo__item_image_text_subtitle {
        display: none;
    }
    .promo__item_image_text_title {
        margin-bottom: 10px;
    }
    .button--promo {
        width: 140px;
    }
    .hits__item {
        margin: 0 10px;
    }
    .footer__item {
        &:nth-child(1) {
            display: none;
        }
    }
}
@media (max-width: 430px) {
    .container {
        max-width: 320px;
    }
}